

<html>
<head>
    <title th:text="${pageTitle}"></title>
</head>
<form>
    <label for="fname">First name&emsp;&emsp;&nbsp;:&emsp;</label>
    <input type="text" id="fname" name="fname"><br>
    <br>
    <label for="lname">Last name&emsp;&emsp;&nbsp;:&emsp;</label>
    <input type="text" id="lname" name="lname"><br>
    <br>
    <label for="number">Contact Number:&emsp;</label>
    <input type="text" id="number" name="number"><br>
    <br>
    <input type="submit" value="Submit">

</form>
</html>